.event-list{
    padding: 0 10px;
    min-height: 80vh;
    font-family: 'Arial', sans-serif;

    &__title{font-size: 1.8em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1em;
        color: #007bff;
    }

    &__button{
        margin-bottom: 20px;
        background: #007bff;
        border: 2px solid white;
        color: white;
        font-size: 1em;
        padding: 0.5em 1.5em;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: white;
          color: #007bff;
          border-color: #007bff;
        }
    }
}